[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
fake-useragent = "*"
pylint = "*"
autopep8 = "*"
lxml = "*"
pandas = "*"

[requires]
python_version = "3.7"
